<style>
.title{
   color:#96616B
}
*{
  color:#694D75;
}
body {
  cursor: url('newcursor.png'),auto;
  //border: 5px solid #ef2c66;
  border-radius: 1%;
   background-color: #EBC3DB;
   color: #694D75;
}
img{
  
   text-align: center;
  padding-top: 1px;
  padding-bottom:1px;
   max-width: 100%;
}

.image-container{
   justify-content: center;
  display: flex; /* Create a flex container */
  justify-content: center; /* Center horizontally */
   height: 50px;
   max-width: 100%;
}
.separator{
   width: 70%;
}

h1{

   font-family: 'Rockwell';
   font-weight: bold;
   font-size: 80px;
   background-image: url(https://i.imgur.com/sS8iXbv.gifv);
   padding-top: 2px;
   //text-align: center;
   color: #331832;
   border: 10px groove #331832;
   border-radius: 3%;
}
h2{
  
   font-family: 'Rockwell';
   font-size: 50px;
   padding-top:1px;
   min-width:200px;
  padding-left: 20%;
   margin: 0px;
   width: 100%;
   border-bottom: 5px solid #331832;
   text-align: left;
}
ul{
   //color:#96616B;
   font-family: 'Calibri';
   font-style: italic;
   font-size: 35px;
      margin: 0;
   padding: 0;
   width: 100%;
   list-style-position: inside;
   padding-top: 5%;
   padding-bottom: 5%;
}
.title{
  padding-bottom:0px;
}
*{
  background-color: #EBC3DB;
}
a[href*='https://www.tiktok.com/@mestreensinad0r/video/7167077459135892741?lang=en']{

}
a:hover{
  color:pink;
}
.heart{
  padding: 10px;
   height: 50px;
}
.head{
   height: 100px;
}
p{
  text-align: center;
  font-size:25px;
  font-style:bold;
  font-family: 'Calibri';
  padding-left: 20%;
}
#currentTime{
   padding-top: 20px;
}
@media (max-width: 768px) {
   body{
      max-width: 100%;
   }
    h1 {
        font-size: 40px; /* Smaller font size for mobile */
    }
   h2{
      font-size: 20px;
   }
   ul{
      font-size: 10px;
   }
   .separator{
      max-height: 20px;
   }
   .heart{
      height: 20px;
   }
   .head{
      height: 50px;
   }
   #currentTime{
      font-size: 20px;
   }
   .sidebar{
      max-width: 15%;
   }
   .main{
      margin-left: 40px;
   }
   .sidebar li{
      padding-top: 10px;
      padding-bottom: 10px;
   }
}
.sidebar {
    background-color: #694D75;
    color: #EDE3E9;
    flex: 0 0 auto; /* Allow the sidebar to be a fixed width */
    width: 150px; /* Adjust the width as needed */
    padding: 20px;
    height: 100vh; /* Make the sidebar full-height */
    position: fixed; /* Fix the sidebar in place */
    font: 'Rockwell';
    font-weight: bold;
    border: 5px solid #331832;
    border-radius: 1%;
}

/* Style the list and list items in the sidebar */
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #694D75;
    //border: 5px solid white;
    border-radius: 5%;
}

.sidebar li {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #331832;
    padding-left: 20px;
      border: 2px solid #694D75;
  border-radius: 10%;
    
}

/* Style the links in the sidebar */
.sidebar a {
    text-decoration: none;
    color: #EDE3E9;
    font-weight: bold;
   background-color: #331832;
}

.main{
margin-left:225px;
text-align: left;
margin-right: 100px;
}
  </style>
