<style>
.title{
   color:#ff1493
}
img{
  height:100px;
  padding-top: 1px;
  padding-bottom:1px;
}
h1{
  color:#ff1493;
   font-family: 'Rockwell';
   font-weight: bold;
   font-size: 80px;
   background-image: url(https://i.imgur.com/sS8iXbv.gifv);
   padding-top: 2px;
}
h2{
   color:#ff1493;
   font-family: 'Rockwell';
   font-size: 50px;
   padding-top:1px;
}
ul{
   color:#ff1493;
   font-family: 'Calibri';
   font-style: italic;
   font-size: 35px;
}
title{
  color:#ff1493;
}
*{
  background-color: black;
}
a[href*='https://www.tiktok.com/@mestreensinad0r/video/7167077459135892741?lang=en']{
  color:#ff1493;
}
a:hover{
  color:red;
}
</style>
