<style>
.title{
   color:#ff1493
}
h1{
  color:#ff1493;
   font-family: 'Rockwell';
   font-weight: bold;
}
h2{
    color:#ff1493
   font-family: 'Rockwell';
}
ul{
   color:#ff1493
   font-family: 'Calibri';
   font-style: italic;
}
title{
  color:#ff1493;
}
*{
  background-color: black;
}
a[href*='https://www.tiktok.com/@mestreensinad0r/video/7167077459135892741?lang=en']{
  color:#ff1493;
}
a:hover{
  color:red;
}
</style>
